@import "tailwindcss";

:root {
  --background: #0b0221;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  overflow-x: hidden;
}

/* Class Spotlight Baru */
.spotlight-glow {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 99; /* Sangat tinggi agar di depan */
  background: radial-gradient(
    600px circle at var(--x) var(--y),
    rgba(147, 71, 229, 0.2),
    transparent 80%
  );
}